.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  position: relative;
  width: 400px;
  height: 500px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 400px;
  height: 500px;
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
  background: linear-gradient(121.06deg, #5b92e5 20.17%, #2087c0 95.26%);
  color: #fff;
}

.flip-card-front img {
  border: 1px solid black;
  object-fit: contain;
  text-align: center;
  width: 100%;
  height: 200px;
}

.flip-card-front h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.flip-card-front p {
  font-size: 16px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.flip-card-front b {
  font-weight: bold;
}

.flip-card-back {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 400px;
  height: 500px;
  position: absolute;
  backface-visibility: hidden;
  padding: 30px;
  transform: rotateY(180deg);
  background: linear-gradient(121.06deg, #5b92e5 20.17%, #2087c0 95.26%);
  color: #fff;
}

.flip-card-back h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.flip-card-back p {
  font-size: 16px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.flip-card-back b {
  font-weight: bold;
}
