.home {
  display: flex;
  flex-direction: row;
  height: 100%;

}

.homeContainer {

  width: 84%;
  display: flex;
  flex-direction: column;
  height: auto;


}

.sidecontainer {
  background-color: #05445E;
  height: 100vh;
 
}

.tables{
  width: 100%;
}



@media (max-width: 800px) {
  .homeContainer {
    position: absolute;
    width: 100%;
 
  }

  .home {

    height: 100%;
  }

  /* .ant-layout-has-sider {
    height: 80vh;
  } */

  .table {

    height: 100%;

  }

  .sidecontainer {
    background-color: #05445E;
    height: 00vh;
  }
  
}

@media (max-width: 1024px) {
  .homeContainer {
   
    width: 100%;
 
  }

  
}