.home {
    display: flex;
    flex-direction: row;
    height: 140vh;
 

}

.homeContainer {

    width: 100%;

    height: 22vh;
    display: flex;
    flex-direction: column;
   
   
}
/* .table{
  background-color: #f8f8f8;
 
  } */

  @media (max-width: 800px) {
    .homeContainer{
      position: absolute;
    }


}




