.appraisal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.card-app {
  width: 250px;
  height: 120px;
  border-radius: 10px;
  margin: 10px;
}

.edIt:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.employeeAppraisalTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.employeeAppraisalTable:hover .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.rowClassName1 td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rowClassName1 td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* //-------------------------------------------- */
.appraisal-tab  .ant-tabs-nav{
  margin: 0px;
}
.appraisal-tab .ant-form-item-feedback-icon-error {
  display: none;
}
.appraisal-tab .ant-tabs-tab.ant-tabs-tab-active{
  font-weight: bold;
}
.appraisal-tab .ant-form-item-explain-error {
  font-size: 10px !important;
}
.appraisal-tab .ant-tabs-nav .ant-tabs-nav-list{
  margin-left: 15px;
  margin-top: 10px;
}
.appraisal-tab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; 
}

.appraisal-tab .ant-tabs-tab:hover{
  color: #000000;
}
.appraisal-tab .ant-tabs-ink-bar {
  /* position: absolute; */
  background: #F9A01F;
  pointer-events: none;
}
.appraisal-tab {
  min-height: 100vh;
}


@page {
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}

@media only screen and (max-width: 600px) {
  .appraisal-div {
    flex-direction: column;
    align-items: center;
  }

  .card-app {
    height: 250px;
  }
}

@media print {
  .noprint {
    visibility: hidden;
  }
}

@media print {
  .page-header {
    display: flex !important;
    page-break-before: auto !important;
    margin-top: 30px !important;
  }
}

@media print {
  .page-break-lead {
    display: block !important;
    page-break-before: auto !important;
    margin-top: 80px !important;
  }
}

@media print {
  .page-break-mgr {
    display: block !important;
    page-break-before: auto !important;
    margin-top: 80px !important;
  }
}

@media print {
  .page-break4 {
    display: block !important;
    page-break-before: auto !important;
    margin-top: 150px !important;
  }
}

@media print {
  .page-time {
    display: block !important;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .textArea-ant:disabled {
    border: none;
    background-color: white;
    resize: none;
    outline: none;
    color: black;
  }
}
