.updateModal .ant-modal-content {
  border-radius: 10px;
}

.updateModal .ant-modal-header {
  border-radius: 10px 10px 0px 0px;
  background: #1963a6;
  color: #ffffff;
}
.updateModal .ant-modal-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.updateModal .ant-btn-primary {
  background: #1963a6;
  color: #ffffff;
  border-radius: 4px;
}

.reqTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

/* ----------------------------- */
.primarydiv {
  min-height: 100vh;
}

/* ----------------------------------- */

.laptopDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.laptopcard {
  width: 75%;
  border-radius: 10px;
  cursor: default;
}

/* ----------------repair-------- */
.laptopDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

.laptopcard {
  width: 75%;
  border-radius: 10px;
  cursor: default;
  margin-bottom: 10px;
  padding: 0px;
}

.laptopcard .ant-card-head-title {
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 17px;
}

.laptopcard .ant-card-head {
  border-radius: 10px 10px 0px 0px;
  background: #1963a6;
  color: #ffffff;
}

.laptopcard:hover .edit {
  display: block !important;
}

.edit {
  color: #ffffff;
  display: none;
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* ------------------------------- */

.personalCardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Row-Card {
  width: 75%;
  margin: 10px;
  display: flex;
  align-items: center;
}

.overview {
  width: 100%;
  margin-top: 10;
  border-radius: 10px;
  cursor: default;
}

.inputFields {
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #8692a6;
}

.dateFields {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8692a6;
}

.selectFields {
  border-radius: 4px;
  border: 1px solid #8692a6;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
}

/* --------------all request----------------- */
.assetTable.ant-table-wrapper {
  background: #fff;
  padding: 7px;
  margin: 6px 6px;
  border-radius: 5px;
}
.assetTable table thead tr th,
.expenseTable table tbody tr td {
  padding: 5px 10px;
}
.assetTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.lapAllot {
  font-weight: 700;
  font-size: 13px;
}

.assetTable .ant-table-thead {
  height: 50px;
}
.checkButton .ant-btn .anticon {
  font-size: 15px;
  stroke-width: 100px;
}

/* -----------assetMang---------------- */

.assetTabs .ant-form-item-feedback-icon-error {
  display: none;
}
.assetTabs .ant-tabs-tab.ant-tabs-tab-active {
  font-weight: bold;
}
.assetTabs .ant-form-item-explain-error {
  font-size: 10px !important;
}
.assetTabs .ant-tabs-nav .ant-tabs-nav-list {
  margin-left: 15px;
  margin-top: 10px;
}
.assetTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.assetTabs .ant-tabs-tab:hover {
  color: #000000;
}
.assetTabs .ant-tabs-ink-bar {
  /* position: absolute; */
  background: #f9a01f;
  pointer-events: none;
}
.assetTabs {
  min-height: 100vh;
}

/* -------------laptopallot---------------------- */

.laptopDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.laptopcard {
  width: 75%;
  border-radius: 10px;
  cursor: default;
}

.laptopcard .ant-card-head-title {
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 17px;
}

.laptopcard .ant-card-head{
  border-radius: 10px 10px 0px 0px;
  background: #1963A6;
  color: #ffffff;
}

.laptopcard:hover .edit {
  display: block !important;
}

.configCard .ant-card-head-title {
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 17px;}

  .configCard .ant-card-head {
    border-radius: 10px 10px 0px 0px;
    background: #1963A6;
    color: #ffffff;}

.configCard.ant-card{
  width: 70%;
  height: auto;
  border-radius: 5px
}

.edit{
  color: #ffffff;
  display: none; 
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.addConfig.ant-btn{
  background-color: rgb(25, 99, 166);
    border-color: rgb(25, 99, 166);
    width: 119px;
    color: #fff;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
}


