.updateModal .ant-modal-content {
  border-radius: 10px;
}

.updateModal .ant-modal-header {
  border-radius: 10px 10px 0px 0px;
  background: #043661;
  color: #ffffff;
}
.updateModal .ant-modal-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.updateModal .ant-btn-primary {
  background: #1963a6;
  color: #ffffff;
  border-radius: 4px;
}
