.updateModal .ant-modal-content {
  border-radius: 10px;
}

.updateModal .ant-modal-header {
  border-radius: 10px 10px 0px 0px;
  background: #1963a6;
  color: #ffffff;
}
.updateModal .ant-modal-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.updateModal .ant-btn-primary {
  background: #1963a6;
  color: #ffffff;
  border-radius: 4px;
}

.reqTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.scrollable-modal .ant-modal-body {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollable-modal .ant-modal-body::-webkit-scrollbar-thumb {
  background-color: #1963a6;
}

.scrollable-modal .ant-modal-body::-webkit-scrollbar-track {
  display: none;
}

