.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 100%;
  right: 0;
  margin-left: 200px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1); /* height: 15%; */
}

.line {
  margin-left: 20px;
  height: 1px solid;
}

.wrapper {
  /* width: 100%; */
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 10;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.item {
  margin-left: 20px;
}

/* .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.tittle {
  height: auto;
  padding: 5px; 
  padding-left: 200px;
  width: 100%;
}

.avatarimg {
  color: black;
  height: 20px;
  width: 20px;
  cursor: "pointer";
}

.profileLogo {
  max-width: 100px;
  max-height: 50px;
  padding: 10px;
  height: auto;
}

.notificationAvatar {
  background-color: white;
}

.notificationBell {
  color: black;
}

.notificationMenuDp {
  width: 400px;
  position: absolute;
  left: -290px;
  top: -5px;
}

/* .notificationBell {
  margin-left: 15px;
} */

/* .bell {
    height: 20px;
    margin-left: 0px;
} */

img {
  margin-left: 0px;
}

.ant-breadcrumb ol {
  flex-wrap: nowrap;
  padding-top: 10px;
}

@media (max-width: 1200px) {
  .tittle {
    padding-left: 250px;
  }
}

@media (max-width: 1000px) {
  .tittle {
    display: none;
  }
}
