.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    width: 100%;
    right: 0;
    margin-left: 200px;
    /* height: 15%; */
}

.line {
    margin-left: 20px;
    height: 1px solid;
}

.wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 10;
}

.image {

    display: flex;
    align-items: center;
    justify-content: center;

}

.item {
    margin-left: 20px;
}


.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tittle {
    height: auto;
    padding: 20px;
    padding-left: 250px;
}

.avatarimg {
    color: black;
    height: 10px;
    cursor: 'pointer'
}

.bell {
    height: 20px;
    margin-left: 0px;
}

img {
    margin-left: 0px;

}

.ant-breadcrumb ol {
    flex-wrap: nowrap;
    padding-top: 10px
}

@media (max-width: 1200px) {



    .tittle {
        padding-left: 250px;
    }


}

@media (max-width: 1000px) {



    .tittle {
        padding-left: 100px;
    }


}

@media (max-width: 500px) {

    .tittle {
        display: none;
    }

}