.navbar {

    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;

    

} 

.line{
    margin-left: 20px;
    height:1px solid;

}

.wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left:10;

    
}

.image {
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item{
    margin-left: 20px;
}


.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.tittle {
    height: auto;
    padding: 20px;
}

/* it will break expense list page "choose status filter" */
/* .ant-space-item {
    margin-top: 8px;
    margin-left: 15px;
    color: #171832;
} */


.avatarimg{
    color: black;
    height: 10px;
}

.bell{
    height: 20px;
    margin-left: 0px;
}
img{
    margin-left: 0px;

}