.appraisal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;

}

.card-app {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 10px

}

@media only screen and (max-width: 600px) {
  .appraisal-div {
    flex-direction: column;
    align-items: center;
  }

  .card-app {
    height: 250px;

  }

}