body{
    overflow-x: hidden;
}

 
/* .form.ant-form{
    margin-top: 46px;
    position: relative;
    right: 156px;
} */
.inputNumber.ant-input{
    margin-left: 26px;
    width: 58%;
}
.inputName.ant-input{
    margin-left: 60px;
    width: 55%;
}
.inputCode.ant-input{
    margin-left: 66px;
    width: 56%;
}
.number.ant-form-item{
margin-left: 53px;
}
.ifsc.ant-form-item{
margin-right: 15px;
}
.cancel.ant-btn{
    margin-left: 20px;
}
/* .ant-form-item-explain-error{
    margin: 8px 0px 8px 61px !important;
} */
.save.ant-btn-primary{
    width: 11%;
}
.personal .ant-card-head-title{
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
}

.personalCardDiv:hover .personal {
display: block !important;
}

.education:hover .personal {
    display: block !important;
    }
.viewCard .ant-card-head{
        border-radius: 10px 10px 0px 0px;
        background: #1963A6;
        color: #ffffff;
}
.personal .ant-card-head{
    border-radius: 10px 10px 0px 0px;
    background: #1963A6;
    color: #ffffff;
}


