.certificationIP input[type='file']::file-selector-button {
    color:black;
    background-color: #e1dfdf;
    border-color:grey;
    border-radius: 5px;
    font-weight: 400;
} 

.choose input[type='file']::file-selector-button {
    color:black;
    background-color: #e1dfdf;
    border-color:grey;
    border-radius: 5px;
    font-weight: 400;
     
}

.idpage input[type='file']::file-selector-button {
    color:black;
    background-color: #e1dfdf;
    border-color:grey;
    border-radius: 5px;
    font-weight: 400;
} 

.managerError .ant-form-item-explain-error{
    display: none;
}

.certTag .ant-table-thead>tr>th{
    background:#1963A6;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    
 }

 .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
