.chartsbox{
    margin:10px 0px 10px 0px;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.Totalamount{
    padding: 5px;
    margin:10px;
    background-color:white;
    display:flex;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    height: 150px;
    position: relative;
}
.Totalamount h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading{
    display: flex;
    justify-content: flex-start;
    font-size: 200%;

}
.AvgAmount{
    padding: 5px;
    margin:10px;
    background-color:white;
    display:flex;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    height: 150px;
    position: relative;
}
.AvgAmount h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chartsdisp{
    margin-left:0px;
    display:flex;
    flex-direction: row;
    width: 100%;
   
}
.barGraph{
    margin:10px;
    background-color:white;
    display:flex;
    width: 100%;
    border-radius: 10px;
    height: 400px;
    justify-content: center;
    
   
}
.pieChart{
    margin:10px;
    background-color:white;
    display:flex;
    width: 100%;
    border-radius: 10px;
    height: 400px;
    justify-content: center;
    
}

