
* {
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  margin: 0;
}

.content container-fluid {
  border: 1px solid red;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.rowcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 5px;
  /* border: 1px solid red; */
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 19vh;
}
.col1 {
  border: 1px solid lightyellow;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.col2 {
  border: 1px solid lightyellow;
  background-color: white;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
}
.colbar {
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 68%;
}
.colpie {
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 30%;
  height: 100%;
}
.rowcharts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 1px solid red; */
}

@media (max-width: 500px) {
    body {
        overflow: auto;
    }
}

@media (max-width: 300px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 109%;
    }
}

@media (max-width: 400px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 109%;
    }
}
@media (max-width: 500px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .colbar {
        width: 97%;
    }
    .colpie {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .colbar {
        width: 90%;
    }
    .colpie {
        width: 40%;
    }
}

/* @media (max-width: 1200px) {
    .colbar {
        width: 50%;
    }
    .colpie {
        width: 40%;
    }
} */