.ant-card .costCenterCard {
    background-color: #FAFAFA;
}
.costCenterTable .ant-table-thead>tr>th{
    background:#1963A6;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    
 }

.costModal .ant-modal-content{
    border-radius: 10px;
    
 }

 .costModal .ant-modal-header{
    border-radius: 10px 10px 0px 0px;
    background: #043661;
    color: #ffffff;
 }
 .costModal .ant-modal-title{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
line-height: 25px;
 }

 .costModal .ant-btn-primary{
    background: #1963A6;
    color:#ffffff;
    border-radius: 4px;
    
 }

 .viewAppraisal .ant-btn-primary{
    background: #1963A6;
    color:#ffffff;
    border-radius: 4px;   
 }

 .pathSymbol {
   cursor: pointer;
 }