.tabs.ant-tabs{
    width: 100% ;
}
.idbutton {
    margin-top: 10px;
}

.idselect .ant-modal-body {
    margin: 0;
}

.certficationtable .ant-modal-body {
    margin: 0;
}

.worktab .ant-modal-body {
    margin: 0;
}

.tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.details .ant-form-item-label > label{
    font-weight: 600;
    font-size: 13px;
}
