/* body{
    overflow-y: hidden;
    overflow-x: hidden;
} */
.employeeTable.ant-table-wrapper {
  background: #fff;
  padding: 7px;
  margin: 6px 6px;
  border-radius: 5px;
}
.employeeTable table thead tr th,
.expenseTable table tbody tr td {
  padding: 5px 10px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.employeeRow {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 17px 5px;
}

.disabled-row {
  color: #dadada;
}

.employeeTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.editEmployee .ant-modal-content {
  border-radius: 10px;
}

.editEmployee .ant-modal-header {
  border-radius: 10px 10px 0px 0px;
  background: #043661;
  color: #ffffff;
}
.editEmployee .ant-modal-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.profilestyle .ant-form-item-label > label {
  font-weight: 600;
  font-size: 15px;
  /* margin-bottom: "5px"; */
  font-family: "Open Sans";
}

.empList {
  width: 15%;
  /* position: relative; */
  bottom: 3.7rem;
  float: right;
  margin-right: 24px;
}

.empTable {
  /* position: relative; */
  bottom: 30px;
}

.empTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.empTable .ant-table table {
  cursor: pointer;
}

/* //-------------employeeListviews */
@media (max-width: 600px) {
  .wrap-one {
    height: auto;
  }
  .header-solid-one {
    height: 750px;
    margin-bottom: 0px !important;
  }
  .header-solid-two {
    height: 650px;
    margin-top: 0px !important;
  }
  .header-solid-four {
    height: 500px;
  }
  .divider-one {
    display: none;
  }
  .form-item {
    display: flex;
    flex-direction: row;
  }
  .ant-card .header-solid {
    margin-bottom: "0px";
  }
  .ant-avatar-group .card-profile-photo {
    display: flex;
    flex-direction: column;
  }
}

/* @media (max-width: 750px) {
  .empList {

    margin-top: 45px;
  }
} */
