.home {
  display: flex;
  height: 100%;
  flex-direction: row;
  margin: 0;
  overflow-x: hidden;
}

.sidecontainer {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  flex: 0 1 auto;
  flex-grow: 0;
  background-color: #05445e;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.homeContainer {
  position: relative;
  display: flex;
  width: 82%;
  flex-direction: column;
  height: auto;
  margin-left: 200px;
  right: 0;
  justify-content: flex-end;
  flex: 1 1 auto;
  flex-grow: 1;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.tables {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 50px;
}
.table {
  width: 100%;
  display: flex;
}
@media (max-width: 1000px) {
  .homeContainer {
    width: 100%;
    margin-left: 00px;
  }
  .sidecontainer {
    background-color: #05445e;
    height: 00vh;
    width: 0px;
  }
}
@media (max-width: 800px) {
  .homeContainer {
    position: absolute;
    width: 100%;
  }
  .sidecontainer {
    background-color: #05445e;
    height: 00vh;
  }
}
