.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  height: 50px;
  overflow: hidden;
  font-size: 5px;
}

.viewAppraisal .ant-modal-body {
  margin-left: 10px;
  padding: 10px;
}

.viewAppraisal .ant-modal-content {
  border-radius: 10px;
  /* width: 820px; */
}

.viewAppraisal .ant-modal-header {
  border-radius: 10px 10px 0px 0px;
  background: #043661;
  color: #ffffff;
}
.viewAppraisal .ant-modal-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.reprentation {
  width: 110px;
  border-radius: 15px;
  /* opacity: 0.5; */
  border: none;
}

.rep-text {
  margin-bottom: 0;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

/* .ant-picker-cell-in-view:hover {
  transform: scale(1.8);
  z-index: 1000;
} */

.Col-2-center {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 250rem;
  height: 140px;
  margin: 10px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 10px; */
}

.leavediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-container {
  display: flex;
  width: 100%;

  row-gap: 20px;
  margin-bottom: 20px;
}

.card-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 3% 3% 1% 3%;
}

.ant-tag-green {
  width: 70px;
}

.statusTag {
  font-size: 14px;
  height: 24px;
}

.ant-picker-cell-disabled {
  background-color: rgba(74, 67, 67, 0.2);
  color: rgb(2, 0, 0);
}

.leave-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leaveTable .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.leaveTable:hover .ant-table-thead > tr > th {
  background: #1963a6;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 600px) {
  .leavediv {
    flex-direction: column;
    align-items: center;
  }

  .Col-2-center {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 145px;
    width: 16rem;
    justify-content: Space-around;
  }
}

.rmdp-container {
  width: 100%;
  padding-right: 18px;
}

.rmdp-input:focus {
  /* box-shadow: none !important; */
  outline: none !important;
  border: 1px solid rgb(116, 174, 199) !important;
  box-shadow: 0 0 0px #719ece !important;
}

.sideCard {
padding: 10px;
border-left: 4px solid #8F8980;
background-color: #ffffff;
margin: 10px 0;
}

.sideCreate{
  padding: 5px;
background-color: #ffffff;
margin: 10px 0;
}


.sideCard:hover{
  border-left: 4px solid #2094FF;
  color: #2094FF;
}
  
    .sick .ant-card-head-title {
      font-size: 15px;
      font-weight: bold;
      line-height: 19px;
      text-transform: uppercase;
    }

    .personalCardDiv:hover .sick {
      display: block !important;
    }

    .leavesCount:hover .leaves {
      display: block !important;
    }
    

    .leaves .ant-card-head {
      border-radius: 10px 10px 0px 0px;
      background: #1963a6;
      color: #ffffff;
    }

    .sickCard .ant-card-head-title{
      font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #000000;
    }


    .scrollInput{
      overflow-y: scroll;
    }

    .searchBar.ant-input-affix-wrapper{
      /* width: 220px; */
    }

    .selectOption.ant-select{
      /* width: 220px; */
    }

    .leavePageDiv {
      min-height: 100vh
    }

    @media only screen and (max-width: 600px){
      .approvalConfig{
    overflow-x: scroll;
      }
    }
    

/* .sickLeave:focus{
border-left: 4px solid #0093FF;
} */


/* ul.sidecard > li:active{
  border-left: 4px solid #0093FF ;
} */


@media only screen and (max-width: 750px) {
  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    display: block !important;
    width: auto !important;
    height: auto !important;
    margin: 0 4px !important;
    padding-right: 2px !important;
    border: 0 !important;
    border-top: 2px solid #f0f0f0 !important;
    border-radius: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .apply-leave {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .badge-div {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .rep-div {
    justify-content: flex-start !important;
  }
  .holiday-button {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 700px) {
  .ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-calendar-date-content {
    height: 30px;
    overflow: hidden;
    font-size: 5px;
  }
  .events {
    font-size: 6px !important;
  }
}

@media only screen and (max-width: 450px) {
  .rep-div {
    display: none !important;
  }
  .holiday-button {
    flex-direction: column !important;
    align-items: center !important;
  }
  .button-applyleave {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }
  .button-applyleave {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 767px){
 

  .wholePage{
    background-color: #f8f8f8;
  }
}