.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
    height: 40px;
}

.reprentation{
    width: 100px;
    border-radius: 10px;
    /* opacity: 0.5; */
    border: none;
 
  
}

.rep-text{
    margin-bottom: 0;
}

 .ant-picker-calendar-mode-switch{
    display: none;
}