* {
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.icon-container{
    margin: 40px auto;
    width: 40%;
}

.hi .ant-card-body {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.notification .ant-card-body {
    padding: 0;
}

.icon-container {
    /* min-height: 100vh; */
    width: 100%;
    /* margin: 30px;
    margin-left: 0; */
}

.bg-sel.ant-calendar-date{
    background-color: #e6f7ff;
}

.ant-calendar-date:hover{
    background-color: #f0f0f0;
}

.calendar-button {
    padding: 5px 10px;
    border-radius: 15px;
    cursor: default;
    margin-right: 5px;
    margin-top: 10px;
}