.profile{
    display: flex;
    justify-content: center;
    margin: 20px;
    /* background-color: black */

}

 /* .anticon {
    margin-right: 10px;
   
 } */
/* 
 .ant-upload-list-item  {
    border:none;
    padding:0px
  
} */

/* .ant-upload-list-item-info{
    border-radius: 100%
} */

/* .ant-upload-list-picture-card .ant-upload-list-item {
    border: none
} */

/* .div-title{
    display: flex;
} */

@media only screen and (max-width: 800px)  and (min-width: 660px ) {
    .col-card{
        padding-left :150px;
        padding-right: 150px;
       
    }

}

