.chartsbox{
   margin:10px 0px 10px 0px;
   display:flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   align-items: center;
   
}
.Totalamount{
   padding: 5px;
   margin:10px;
   background-color:white;
   display:flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: 150px;
}
.AmountDue{
   padding: 5px;
   margin:10px;
   background-color:white;
   display:flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: 150px;
}
.AvgAmount{
   padding: 5px;
   margin:10px;
   background-color:white;
   display:flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: 150px;
}
.chartsdisp{
   margin-left:0px;
   display:flex;
   flex-direction: row;
   width: 100%;
  
}
.barGraph{
   margin:10px;
   background-color:white;
   display:flex;
   width: 100%;
   border-radius: 10px;
   height: 400px;
   justify-content: center;
  
}
.pieChart{
   margin:10px;
   background-color:white;
   display:flex;
   width: 100%;
   border-radius: 10px;
   height: 400px;
   justify-content: center;
   
}
