
    .settingsTab .ant-form-item-feedback-icon-error {
        display: none;
    }
    .settingsTab .ant-tabs-tab.ant-tabs-tab-active{
        font-weight: bold;
    }
    .settingsTab .ant-form-item-explain-error {
        font-size: 10px !important;
    }
    .settingsTab .ant-tabs-nav-list {
        padding: 24px 0px 24px 24px;
    }
    .tabPanel {
        padding: 24px 24px 24px 0px;
    }
    .settingsCard {
        
    border-radius: 10px;
    }
    /* .cupsw{
        width: 108px;
    }
    .copsw{
        width: 120px;
    } */
    
