.anticon svg.email{
    display: none;
}
h1, h2, h3, h4, h5, h6.Label{
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 2px;
    margin-top: 8px
}
.ant-card.Password {
border-radius: 15px;
    margin: 26px;}

    .ant-card.Delete{
        border-radius: 15px;
    margin: 26px;
    }
    .ant-input#message{
        width: 320px;
    margin-right: 18px
    }
    .ant-card.Email{
        border-radius: 15px;
        margin: 26px;
    }
    /* .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
    color: black;
    } */

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        font-size: 17px;
        font-weight: 500;
    }
    .ant-input-affix-wrapper.current{
        position: relative;
    right: 114px;
    width: 290px
    }
    .ant-input-affix-wrapper.new{
        position: relative;
    right: 0px;
    width: 290px
    }
    .ant-input-affix-wrapper.confirm{
        position: relative;
    
    width: 290px
    }
    .ant-btn-primary.save{
        position: absolute;
    left: 207px;
    margin-top: 10px;
    }