.settingsTab .ant-form-item-feedback-icon-error {
  display: none;
}
.settingsTab .ant-tabs-tab.ant-tabs-tab-active {
  font-weight: bold;
}
.settingsTab .ant-form-item-explain-error {
  font-size: 10px !important;
}
.settingsTab .ant-tabs-nav .ant-tabs-nav-list {
  margin-left: 15px;
  margin-top: 10px;
}
.settingsTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.settingsTab .ant-tabs-tab:hover {
  color: #000000;
}
.settingsTab .ant-tabs-ink-bar {
  /* position: absolute; */
  background: #f9a01f;
  pointer-events: none;
}
.settingsTab {
  min-height: 100vh;
}

/* -------------------update-card--------------------- */
/* .updatepsw .ant-card-head{
        background: #1963A6;
    color: #ffffff;
    border-radius: 10px 10px 0px 0px;
     } */

/* .updatepsw .ant-card-head-title{
        font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 15px;
     } */
.updatepsw {
  width: 80%;
  cursor: default;
  border-radius: 10px;
}
.updatepsform {
  padding-top: 2%;
  width: 100%;
}
.update-form {
  display: flex;
  justify-content: center;
}
.update-card {
  display: flex;
  justify-content: center;
}

.settingsCard {
  border-radius: 10px;
  padding-left: 55px;
  margin-left: 23px;
}
/* --------------------input-password------------------ */
.new input[type="text"],
input[type="password"] {
  width: 18rem;
}
.confirm input[type="text"],
input[type="password"] {
  width: 18rem;
}

/* ---------------------save-button------------------- */
.save-button-col {
  display: flex;
  justify-content: center;
}

/* ------------------------Notify Settings page--------------------------- */
/* ----------------------birthday-part----------- */
.birthdayPreviewDiv {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.templateButton {
  position: relative;
  left: 8rem;
  bottom: 11rem;
}
.birthdayTempelateList {
  border-radius: 10px;
}
.birthdayTemplates {
  display: flex;
  justify-content: start;
  width: 100%;
}

/* ----------------------Anniversary-part----------- */
.anniversaryPreviewDiv {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
/* .anniversarytemplateImg{
        width: 100%;
        height: 80vh;
    } */
.templateButton {
  margin-top: 25px;
}
.anniversaryTempelateList {
  /* height: 95vh; */
  border-radius: 10px;
}
.anniversaryTemplates {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* height: 25vh; */
}

/* -----------------------------Birthday Template css------------------ */

.informationLogo {
  padding-left: 10px;
}

.layoutCard {
  border-radius: 5px;
}

.infoSelect {
  border-radius: 10px;
}

.birthdayPreviewDiv .ant-card-body {
  width: 100%;
  height: 100%;
}

.infoText {
  height: auto;
  border-radius: 10px;
}

.previewDivLayout {
  border: 1px sloid aquamarine;
  width: 100%;
}

.template-card-header {
  display: flex;
  justify-content: space-between;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* .ant-row {
  display: flex;
  align-items: center;
} */
