.feedBackCard .ant-card-body{
    padding: 25px;
}

.empSearch.ant-input-affix-wrapper{
    width: 300px; 
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    height: 35px
}

.previewSur.ant-btn{
    background: #045477;
    border-radius: 5px;
    width: 127px;
    height: 35px;
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-left: 2.5rem;
}

.configSur.ant-btn{
    background: #045477;
    border-radius: 5px;
    width: 159px;
    height: 35px;
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-left: 28px;
}

.feebBackTable.ant-table-wrapper{
    margin-top: 20px;
}

.feebBackTable .ant-table-thead > tr > th {
    background: #045477;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .comunication.ant-btn{
    background: #045477;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 15px;

}

.heading:after {
    content: "";
    position: absolute;
    top: 6rem;
    bottom: 0;
    left: 21rem;
    right: 0;
    width: 840px;
    height: 0.5em;
    border-top: 0.5px solid #C0C0C0;
   }

  .otherHeading:after {
    content: "";
    position: absolute;
    top: 6rem; 
    bottom: 0;
    left: 16rem;
    right: 0;
    width: 900px;
    height: 0.5em;
    border-top: 0.5px solid #C0C0C0;
  } 

  .que1 .ant-form-item-label > label{
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color:"#000000"
  }

  textarea.ant-input.queText{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    padding: 0px;
    color: #000000;
    margin-top: 10px;
  }

  .queTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    padding: 0px;
    color: #000000;
    margin-top: 10px;
  }
  /* .queText{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    padding: 0px;
    color: #000000;
  } */

  .que1.ant-form-item{
    margin-top: 28px;
  }

  .submitCancel.ant-space-align-center{
    display: flex;
    justify-content: flex-end;
  }

  .submitQuestion.ant-space-align-center{
    display: flex;
    justify-content: flex-end;
    
  }
  .questionTag{
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    
  }

  .addQue.ant-btn{
    background: #045477;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin-top: 30px;
  }
  .submit.ant-btn{
    background: #045477;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    border-radius: 5px;
    width: 104px;
    height: 37px;
  }

  .skillName .ant-form-item-label > label{
    font-size: 18px;
  }

  .minusRemove.anticon svg{
    position: relative;
    right: 10px;
   
}
  