.ant-layout-sider-zero-width-trigger {
  top: 0;
  right: 10;
  background-color: #05445e;
}

ul.ant-menu-sub.ant-menu-inline {
  background: #05445e;
}

ul.ant-menu {
  background: #05445e;
}

.ant-menu-title-content {
  color: aliceblue;
}

.Logo {
  width: 100%;
  height: 50px;
}

.Dash {
  width: 10%;
  height: auto;

  color: white;
}

.dot {
  transform: scale(0.5);
  background-color: #1963a6;
}

.logos {
  background-color: #1963a6;
}

.ant-menu-submenu-arrow {
  color: white;
  padding-left: 24px;
}

.collapse {
  background-color: #1963a6;
  height: 20px;
}

ul.ant-menu .ant-menu-sub .ant-menu-vertical {
  background-color: #1963a6;
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: #1963a6;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #3f8bae;
}

.collapse {
  background-color: #1963a6;
  height: 20px;
}

/* .sideTop.ant-menu-item {
    height: 20px;
} */

.logo {
  font-size: 30px;
}

.sidebarTittle {
  justify-content: center;
  height: 30px;
  margin: 10px;
}

.sidelayout > ul {
  background-color: #0892ce;
}

.ant-layout {
  background-color: #f4f4f4;
}
.ant-layout.ant-layout-has-sider {
  background-color: #1963a6;
}

.leaveletter {
  padding: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: #ffffff;
}

.sideFont {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}

.ant-menu-inline {
  border-right: none;
}

/* width */
.sidelayout-menu::-webkit-scrollbar {
  width: 0px;
  max-height: calc(100vh - 5.625rem);
}

/* Track */
.sidelayout-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
  /* border: 5px solid white;
  background-color: #b2bec3; */
}

.sidelayout-menu::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

/* Handle */
.sidelayout-menu::-webkit-scrollbar-thumb {
  /* background: #05445e; */
  border-radius: 10px;
  width: 100px;
}

/* Handle on hover */
.sidelayout-menu::-webkit-scrollbar-thumb:hover {
  background: #189ab4;
}
