.ant-layout-sider-zero-width-trigger {
  top: 0;
  right: 10;
  background-color: #1963A6;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  box-shadow: none;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0D4C92;
}

ul.ant-menu-sub.ant-menu-inline {
  background: #0D4C92;
}

ul.ant-menu {
  background: #0D4C92;
}

.ant-menu-title-content {
  color: aliceblue;
}

.Logo {
  width: 100%;
  height: 50px;
}

.Dash {
  width: 10%;
  height: auto;
  /* background-color: #0D4C92; */
  color: white;
}

.dot {
  transform: scale(0.5);
  background-color: #0D4C92;
}

.logos {
  background-color: #0D4C92;
}

.ant-menu-submenu-arrow {
  color: white;
  padding-left: 24px;
}

.collapse {
  background-color: #0D4C92;
  height: 20px;
}

ul.ant-menu .ant-menu-sub .ant-menu-vertical {
  background-color: #0D4C92;
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: #0D4C92;
}

/* .ant-menu-title-content {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 10px;
} */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #3f8bae;
}

.collapse {
  background-color: #0D4C92;
  height: 20px;
}

/* .sideTop.ant-menu-item {
    height: 20px;
} */

.logo {
  font-size: 30px;
}

.sidebarTittle {
  justify-content: center;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.sidebarTop {
  background-color: #0D4C92;
  height: auto;
}

.ant-layout {
  background-color: #f4f4f4;
}
.ant-layout.ant-layout-has-sider {
  background-color: #1963A6;
}

.leaveletter {
  padding: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: #ffffff;
}

.sideFont {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}