.sidebar {

    min-height: 100vh;
    background: #05445E
}

.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


li:hover {
    background-color: #189AB4;
}


span {
    font-size: 13px;
    font-weight: 600;
    color: 
    #FFFFFF;
    margin-left: 10px;
}

.Logo {
    width: 100%;
    height: 50px;

}



.ant-menu{
    background-color: #05445E;
}


.ant-menu-sub.ant-menu-inline
{
    background-color: #05445E;
}


svg {
    color: #ece8ff;

}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #05445E;
}


.ant-menu-submenu-arrow{
    color: white;
}



