.travelCard {
    background: #fff;
    padding: 7px;
    margin: 6px 6px;
    border-radius: 5px;
}
.travelCard .ant-card-head{
    border-radius: 5px 5px 0px 0px;
    background: #1963A6;
    color: #ffffff;
  }
  .travelCard .ant-card-head-title {
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 17px;
  }
.ant-form-item .uploadInput {
    margin-bottom: 19px;
}
.buttonCol {
    display: flex;
    justify-content: end;
    margin-Top: 5%;
}
.addButtonTravel{
  /* margin-left: 10px; */
  border-radius: 5px;
}

.addFieldTravel {
  margin-top: 5%;
  border-radius: 5px;
  width: 100%;
}


.addFieldTravel.ant-btn.ant-btn-block{
  background: #1963A6;
  color: #ffffff;
  font-size: 14px;
}

.addButtonTravel.ant-btn.ant-btn-block{
  width: 220px;
  height: 40px;
  background: #1963A6;
    color: #ffffff;
    font-size: 16px;
}


.travelTable.ant-table-wrapper {
    background: #fff;
    padding: 7px;
    margin: 6px 6px;
    border-radius: 5px;
    
  }
  .travelTable table thead tr th,
  .expenseTable table tbody tr td {
    padding: 5px 10px;
  }
  .travelTable .ant-table-thead > tr > th {
    background: #1963a6;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  .travelTable .ant-table-thead{
    height: 50px;
  }

  .travelDatePicker .ant-picker{
    width:100%;
  }

  .viewModal .ant-modal-content {
    border-radius: 10px;
  }
  
  .viewModal .ant-modal-header {
    border-radius: 10px 10px 0px 0px;
    background: #1963a6;
    color: #ffffff;
  }
  .viewModal .ant-modal-title {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }