main{
  padding: 41px;
}
#root{
  background: #f8f8f8;
}


.hrtab {
  min-height: 100vh;
}
.hrtab .ant-tabs-nav .ant-tabs-nav-wrap {
  background: #fff;
  margin-top: 25px;
  padding: 5px;
}
.page-tabs {
  margin-right: 13px;
  border-radius: 5px;
}
.ant-tabs-top.page-tabs {
  margin-left: 13px;
}

.page-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.page-tabs .ant-tabs-tab:hover {
  color: #000000;
}
.page-tabs .ant-tabs-ink-bar {
  /* position: absolute; */
  background: #f9a01f;
  pointer-events: none;
}
.page-tabs .ant-tabs-nav .ant-tabs-nav-list {
  margin-left: 15px;
}

.row{
  background: #fff;
    padding: 14px;
    border-radius: 5px
}
.ant-table-wrapper{
  background: #fff;
    padding: 11px;
}
.ant-tag-green{
  color: white;
    background: #41BF36;
    
    border-radius: 5px;
    font-family: 'Open Sans';
  
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    width: 68px;
    height: 25px;
    text-align: center;
}
.ant-tag-volcano{
  background: #FC6161;
  border-radius: 5px;
    font-family: 'Open Sans';
  color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    width: 68px;
    height: 25px;
    text-align: center;

}
a{
  color: #171832;
}
.ant-table-cell{
  text-align: center;
}

tr[data-row-key*="subTotal"] {
  font-weight: bold;
}
.ant-table-column-has-sorters{
  text-align: center;
}
.ant-table-thead th.ant-table-column-has-sorters {
  text-align: center;}
  .ant-btn-link{
    color: #6e7475;
  }
  .deLete{
    color: #f04747;
  }

.password-input-len .ant-input {
  width: 100%;
}

.back-arrow {
  cursor: pointer;
  /* margin: 0 15px; */
  height: 90%;
  display: flex;
  width: 55px;
  justify-content: space-evenly;
  font-size: 15px;
  align-items: center;
  color: #ffffff;
}

.back-arrow:hover {
  color: #1890ff;
  /* border-bottom: 2px solid #f9a01f; */
}

.color-button {
  background-color: #1963A6;
  border: 2px solid #1963A6;
  border-radius: 4px;
  width: 150px
}

.color-button:hover {
  background-color: #ffffff;
  color: #1963A6;
  border: 2px solid #1963A6;
}